<ion-header>
  <ion-toolbar color="primary">
    <ion-title
      >{{isLoginPage? 'Enter Login Details': 'Enter Sign-up Details'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" ngModel name="username" required></ion-input>
      </ion-item>
      <ion-item
        ><ion-label position="floating">Password</ion-label>
        <ion-input type="password" ngModel name="password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      color="primary"
      expand="block"
      class="ion-padding"
      [disabled]="!data.valid"
    >
      {{isLoginPage? 'Login': 'Sign-Up'}}
    </ion-button>
    <ion-button
      color="primary"
      expand="block"
      class="ion-padding"
      (click)="switchPage()"
    >
      {{isLoginPage? 'Switch to Sign-Up': 'Switch to Login'}}
    </ion-button>
  </form>
</ion-content>
