<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/car-records"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Car Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Edit Car</h3>
  <div *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <form
    #data="ngForm"
    (ngSubmit)="onSubmit(loadedCarRecord.id,data)"
    *ngIf="!isLoading"
  >
    <ion-list>
      <ion-item>
        <ion-label>Car Model</ion-label>
        <ion-select
          [(ngModel)]="loadedCarRecord.carModel"
          name="carModel"
          required
        >
          <ion-select-option *ngFor="let car of carList" value="{{car}}">
            {{car}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Customer name</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="loadedCarRecord.customerName"
          name="customerName"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Discount Offered</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="loadedCarRecord.discount"
          name="discount"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Approval From</ion-label>
        <ion-select
          [(ngModel)]="loadedCarRecord.approvalFrom"
          name="approvalFrom"
          required
        >
          <ion-select-option *ngFor="let person of dealers" value="{{person}}">
            {{person}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      color="primary"
      expand="block"
      class="ion-padding"
      [disabled]="!data.valid"
    >
      Submit Edited Car details
    </ion-button>
  </form>
</ion-content>
