<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sales Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Approval From</ion-label>
      <ion-select
        [(ngModel)]="approvalFrom"
        name="approvalFrom"
        required
        (ionChange)="filterSaleData()"
      >
        <ion-select-option *ngFor="let person of dealers" value="{{person}}">
          {{person}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let record of filteredRecords" lines="none">
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >Customer Name: {{record.customerName}}</ion-card-title
          >
          <ion-card-subtitle>Car Model: {{record.carModel}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Approval From: {{record.approvalFrom}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Discount: {{record.discount}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
