<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>car-records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-list>
    <ion-item *ngFor="let record of fetchedCarRecords" lines="none">
      <!-- <ion-list> -->
      <!-- <ion-item lines="none">
          <ion-label>Car Model: {{record.carModel}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Customer Name: {{record.customerName}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Approval From: {{record.approvalFrom}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Discount: {{record.discount}}</ion-label>
        </ion-item> -->
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >Customer Name: {{record.customerName}}</ion-card-title
          >
          <ion-card-subtitle>Car Model: {{record.carModel}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>Approval From: {{record.approvalFrom}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Discount: {{record.discount}}</ion-label>
            </ion-item>
          </ion-list>
          <ion-button
            color="primary"
            class="ion-margin"
            (click)="deleteCarRecord(record.id)"
          >
            Delete Record
          </ion-button>
          <ion-button
            color="primary"
            class="ion-margin"
            (click)="editCarRecord(record.id)"
          >
            Edit Record
          </ion-button>
        </ion-card-content>
      </ion-card>
      <!-- </ion-list> -->
    </ion-item>
  </ion-list>
</ion-content>
