<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title> Add Car-Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Add Car Details</h3>
  <form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <ion-list>
      <ion-item>
        <ion-label>Car Model</ion-label>
        <ion-select ngModel name="carModel" required>
          <ion-select-option *ngFor="let car of carList" value="{{car}}">
            {{car}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Customer name</ion-label>
        <ion-input type="text" ngModel name="customerName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Discount Offered</ion-label>
        <ion-input type="number" ngModel name="discount" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Approval From</ion-label>
        <ion-select ngModel name="approvalFrom" required>
          <ion-select-option *ngFor="let person of dealers" value="{{person}}">
            {{person}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      color="primary"
      expand="block"
      class="ion-padding"
      [disabled]="!data.valid"
    >
      Submit Car details
    </ion-button>
  </form>
</ion-content>
